.buildpath
.pomm_cli_bootstrap.php
.project
.settings/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/components
/composer.phar
/var
/vendor/
/web/assetic
/web/bundles
/web/css
/web/fonts
/web/js
