{% extends 'JaccobMediaBundle:Home:layout.html.twig' %}

{% block title %}{{ album.user_name }}: add new medias{% endblock %}

{% block actions %}
  <a href="{{ path('jaccob_media.album.list', {albumId: album.id}) }}" class="btn btn-danger">
    Cancel
  </a>
{% endblock %}

{% block main %}
  {# {{ form(form) }} #}
{% endblock %}
