{% extends 'JaccobMediaBundle:Home:layout.html.twig' %}

{% block title %}{{ album.user_name }}{% endblock %}

{% block actions %}
  <a href="{{ path('jaccob_media.album.import', {albumId: album.id}) }}" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Import
  </a>
{% endblock %}

{% block main %}
  {{ media_grid(mediaList, 4, 240, true) }}
{% endblock %}
