{% extends 'JaccobMediaBundle:Home:layout.html.twig' %}

{% block title %}{{ album.user_name }}{% endblock %}

{% block actions %}
  <a href="{{ path('jaccob_media.album.import', {albumId: album.id}) }}" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Import
  </a>
{% endblock %}

{% block main %}
  {% for media in mediaList %}
    <div class="col-md-3 media">
      {{ thumbnail(media, 'w240', true, 'w960')|raw }}
    </div>
  {% endfor %}
{% endblock %}
