
@album-padding: 5px;

.media-thumbnail {
  overflow-x: hidden;
  width: 25%;
  img {
    width: 100%;
  }
}

.album {
    margin: 10px;
    text-align: center;
    padding: @album-padding;

    overflow: hidden;
    text-overflow: ellipsis;

    position: relative;

    min-height: 3em; // Fit to title

    a {
        color: black;
        white-space: nowrap;
        display: block;
    }

    img {
       box-shadow: 1px 1px 2px #ccc;
       display: block;
       width: 100%;
    }

    .title {
        position: absolute;
        left: @album-padding;
        right: @album-padding;
        bottom: @album-padding;
        margin: 0;
        padding: @album-padding;
        max-height: 3em;
        color: white;
        font-weight: bold;
        background: black;
        opacity: 0.7;
        text-overflow: ellipsis;
    }
}

.shared {
    background: #e8ffdb;
    box-shadow: 1px 1px 2px #46b907;
}

.password {
    background: #f8e4e2;
    box-shadow: 1px 1px 2px #990000;
}

.media {
    text-align: center;
}
