
@album-padding: 5px;

.body-inverse {
    background-color: black;
}

.media-thumbnail {
    overflow-x: hidden;
    width: 20%;
    img {
        width: 100%;
    }
    &:hover {
        img {
            filter: brightness(1.3);
            transition: opacity .25s ease-in-out;
        }
    }
}

@media (max-width: @screen-md-min) {
    .media-thumbnail {
        width: 25%;
    }
}

@media (max-width: @screen-sm-min) {
    .media-thumbnail {
        width: 50%;
    }
}

@media (max-width: @screen-xs-min) {
    .media-thumbnail {
        width: 100%;
    }
}

.media-view {
    img {
        width: 100%;
    }
}

#fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    text-align: center;

    .close-button {
        opacity: 0;
        background-color: @gray-darker;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 3em;
        line-height: 3em;
        font-size: 2em;

        &:hover {
            opacity: 0.8;
            color: @gray-light;
            text-decoration: none;
        }
    }

    .image, img {
        height: 100%;
        margin: 0 auto;
    }

    .browse {
        opacity: 0.8;
        width: 3em;
        font-size: 5em;
        color: @gray-dark;
        line-height: 100vh;
        text-align: center;
        &:hover {
            color: @gray;
            background-color: @gray-darker;
        }
    }

    .browse-left {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .browse-right {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.album {
    margin: 5px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;

    position: relative;

    min-height: 3em; // Fit to title

    &:hover {
        img {
            filter: brightness(1.3);
            transition: opacity .25s ease-in-out;
        }
    }

    a {
        color: black;
        white-space: nowrap;
        display: block;
    }

    .album-status {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        padding: @album-padding (@album-padding * 2);
        background: black;
        opacity: 0.7;
    }

    img {
       display: block;
       width: 100%;
    }

    .title {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: 0;
        padding: @album-padding;
        max-height: 3em;
        color: white;
        font-weight: bold;
        background: black;
        opacity: 0.7;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.shared {
    background: #e8ffdb;
    box-shadow: 1px 1px 2px #46b907;
}

.password {
    background: #f8e4e2;
    box-shadow: 1px 1px 2px #990000;
}

.media {
    text-align: center;
}
