{% extends '::base.html.twig' %}

{% block body %}
  <div id="fullscreen">
    {{ media_responsive(media, size) }}
  </div>

  {% javascripts '@JaccobMediaBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}" async></script>
  {% endjavascripts %}
{% endblock %}