{% extends 'JaccobMediaBundle:Home:layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path('jaccob_media.home') }}">Media</a></li>
  <li><a href="{{ path('jaccob_media.album.view', {albumId: album.id}) }}">{{ album.displayName }}</a></li>
  <li class="active">We need the password</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block main %}
  {{ form(form) }}
{% endblock %}
