{% extends '::base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      {{ knp_menu_render('JaccobTaskBundle:Builder:sideMenu', {'template': 'JaccobTaskBundle:Task:sideMenu.html.twig'}) }}
      {% block main %}{% endblock %}
    </div>
  </div>
{% endblock %}