{% extends '::base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ knp_menu_render('main.task', {'template': 'JaccobTaskBundle:Task:sideMenu.html.twig', 'currentClass': 'active', 'ancestorClass': 'active'}) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr/>
        {% block main %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}