{% extends 'JaccobMediaBundle:Home:layout.html.twig' %}

{% block actions %}
  <a href="{{ path('jaccob_media.album.create_from') }}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New album
  </a>
{% endblock %}

{% block main %}
  {% for album in albums %}
    <div class="col-md-3">
      {% if album.share_enabled and album.share_password %}
        <div class="album shared password">
      {% elseif album.share_enabled %}
        <div class="album shared">
      {% else %}
        <div class="album">
      {% endif %}
        <a href="{{ path('jaccob_media.album.view', {albumId: album.id}) }}">
          {% if (previews[album.id] is defined) %}
            {{ media_thumbnail(previews[album.id], size, 'w') }}
          {% endif %}
          <p class="title">{{ album.displayName }}</p>
        </a>
      </div>
    </div>
  {% endfor %}
{% endblock %}