{% extends '::base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="pull-right">
          {% block actions %}
            <li>
              <a href="{{ path('jaccob_media.album.add') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New album
              </a>
            </li>
          {% endblock %}
        </ul>
        {% block breadcrumb_container %}
          <ol class="breadcrumb breadcrumb-inverse">
            {% block breadcrumb %}
              <li class="active">Media</li>
            {% endblock %}
          </ol>
        {% endblock %}
      </div>
    </div>
  </div>

  {% block mainwapper %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% block main %}{% endblock %}
        </div>
      </div>
    </div>
  {% endblock %}

  {% javascripts '@JaccobMediaBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}" async></script>
  {% endjavascripts %}
{% endblock %}