<html>
  <body>
    <h1>Password recuperation</h1>
    <p>
      Please follow this link in order to change your password&nbsp;:
      {% set path = path('jaccob_account.one_time_login', {accountId: account.id, token: token}) %}
      <a href="{{ path }}">{{ path }}</a>
    </p>
  </body>
</html>