{% extends 'knp_menu.html.twig' %}

{% block root %}
  {% set listAttributes = item.childrenAttributes %}
  <div class="navbar-collapse collapse" id="navbar">
    {{ block('rootlist') -}}
  </div>
{% endblock %}

{% block rootlist %}
  {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
  {% import _self as knp_menu %}
    <ul class="nav navbar-nav navbar-right">
      {{ block('children') }}
    </ul>
  {% endif %}
{% endblock %}

{% block list %}
  {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    {% import _self as knp_menu %}
    <ul{{ knp_menu.attributes(listAttributes) }}>
      {{ block('children') }}
    </ul>
  {% endif %}
{% endblock %}