{% extends '::centered-form.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Change password{% endblock %}

{% block form %}
  <p>Please type the new password.</p>

  {{ form(form) }}
{% endblock %}